*.gem
.bundle
.DS_Store
.jekyll-metadata
.jekyll-cache
_asset_bundler_cache
_site
_drafts
codekit-config.json
Gemfile.lock
node_modules/
npm-debug.log*
.ruby-version
vendor
vendor/cache/
_mdwriter.cson
.ruby-version
*.codekit3
config.codekit3
